$theme-colors: (
    "primary": #e77b47,
    "secondary": #999,
    "dark": #000000
);

@import "node_modules/bootstrap/scss/bootstrap";

img {
    max-width:100%;
}
.cursor-pointer {
    cursor:pointer;
}

.animation-move {
    animation:move 3s infinite;
}
.animation-move-slow {
    animation:move 6s infinite;
}
.animation-move-big {
    animation:move-big 9s infinite;
}
.animation-bat {
    animation:move-bat 11s infinite;
}
.right-0 {
    right:0;
    left:unset;
}
.top-10 {
    top:10px;
}
.bottom-10 {
    bottom:10px;
}
.z-index1001 {
    z-index:1001;
}
@keyframes move{
	0%{
		transform:translateX(0)
	}
	50%{
		transform:translateX(15px)
	}
	100%{
		transform:translateX(0)
	}
}
@keyframes move-bat{
	0%{
		transform:translateX(-50%)
	}
	30%{
		transform:translateX(-100%)
    }
    50%{
		transform:translateX(-150%)
	}
	70%{
		transform:translateY(-170%)
    }
    100% {
        transform:translateX(-50%)
    }
}
@keyframes move-big{
	0%{
		transform:translateX(0%)
	}
	30%{
		transform:translateX(-150%)
    }
    50%{
		transform:translateY(-50%)
	}
	70%{
        transform:translateY(-50%);
        transform:translateX(50%)
    }
    100% {
        transform:translateX(0%)
    }
}
html {
    scroll-behavior: smooth;
  }

/* ----- Halloween Landing Page no1 ----- */

.landing-page-style1 {
    font-family: "Stylish";
    color:#29373c;
    font-size: 19px;
    h1,h2,h3,h4,h5,h6, .navbar, .lead {
        font-family: "Nanum Pen Script";
    }
    .navbar-brand, .fancy-font {
        font-family: "Shojumaru";
    }
    .navbar {
        font-size:1.3em;
    }
    .lead {
        font-size:2em;
    }
    .border-bottom-dashed {
        border-bottom:1px dashed;
    }
    .bg-theme-light {
        background:#f9fbf3;
    }
    .full_height_banner {
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-color: transparent;
        min-height:800px;
        height: 100vh;
        padding: 0;
        position: relative;
        z-index: 99;
        margin: 0;
        @include media-breakpoint-up(lg) {
            &:after {
                content: " ";
                position: absolute;
                bottom: -.1rem;
                left: 0;
                width: 100%;
                height: 10rem;
                display: block;
                background: transparent url(../img/wav.png) no-repeat 0 0/100% 100%;
                z-index: 99;
            }
        }
        .intro-container {
            padding-top:10rem;
            color:#fff;
            h1 {
                color:#ffac2c;
            }
        }
    }
    ul#countdown {
        margin:25px 0 40px 0;
        padding:0;
    }
    ul#countdown li {
        display: inline-block;
        margin:8px 8px;
        padding: 6px 0 4px 0;
        width:70px;
        height:70px;
        background-color:transparent;
        border:2px solid #fff;
        -webkit-border-radius: 8px 8px;
        -moz-border-radius: 8px 8px;
        border-radius: 8px 8px;
        text-align: center;
        vertical-align:middle;
    }
    ul#countdown li span {
        color:#fff;
        font-size: 30px;
        line-height:30px;
        font-weight: 500;
        position: relative;
    }
    ul#countdown li p.timeRefDays,
    ul#countdown li p.timeRefHours,
    ul#countdown li p.timeRefMinutes,
    ul#countdown li p.timeRefSeconds {
        color:#fff;
        margin-top:2px;
        text-transform: uppercase;
        font-size: 13px;
        line-height:14px;
        font-weight: 400;
    }
    section {
        padding-top:7rem;
        padding-bottom:7rem;
        .header {
            margin-bottom:5rem;
        }
        &.about {
            padding-bottom:17rem;
            &:after {
                content: " ";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 10rem;
                display: block;
                background: transparent url(../img/wav2.png) no-repeat 0 0/100% 100%;         
            }
        }
        &.faq {
            padding-top:4rem;
            padding-bottom:10rem;
        }
    }  
    .testimonial6 h1,
    .testimonial6 h2,
    .testimonial6 h3,
    .testimonial6 h4,
    .testimonial6 h5,
    .testimonial6 h6 {
        color: #3e4555;
    }
    .testimonial6 .font-weight-medium {
    font-weight: 500;
    }
    .testimonial6 h5 {
        line-height: 22px;
        font-size: 18px;
    }
    .testimonial6 .subtitle {
        color: #8d97ad;
        line-height: 24px;
        font-size: 16px;
    }
    .testimonial6 .testi6 {
        border-right: 1px solid rgba(120, 130, 140, 0.13);
    }
    .testimonial6 .testi6 .nav-link {
        border-radius: 0px;
        margin: 8px -2px 8px 0;
    }
    .testimonial6 .testi6 .nav-link img {
        width: 70px;
        opacity: 0.5;
    }
    .testimonial6 .testi6 .nav-link.active {
        background: transparent;
        color: #8d97ad;
        border-right: 3px solid #8ac1bf;
    }
    .testimonial6 .testi6 .nav-link.active img {
        opacity: 1;
    }
    .testimonial6 .btn-md {
        padding: 18px 0px;
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
    @media (max-width: 767px) {
        .testimonial6 .testi6 .nav-link {
        margin: 0px 0px -2px 0;
        padding: 10px;
        }
        .testimonial6 .testi6 {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        border-right: 0px solid rgba(120, 130, 140, 0.13);
        border-bottom: 1px solid rgba(120, 130, 140, 0.13);
        margin-bottom: 40px;
        }
        .testimonial6 .testi6 .nav-link img {
        width: 40px;
        }
        .testimonial6 .testi6 .nav-link.active {
                border-right: 0px solid #8ac1bf;
                border-bottom: 3px solid #8ac1bf;
        }
    }
    footer {
        padding:7rem 0 3rem;
        position:relative;
        background: #FFB75E;  
        background: -webkit-linear-gradient(to left, #ED8F03, #FFB75E);  
        background: linear-gradient(to left, #ED8F03, #FFB75E);
        a {
            color:inherit;
            border-bottom:1px solid;
            &:hover {
                border-bottom:1px solid orangered;
                text-decoration:none;
            }
        }
        @include media-breakpoint-up(lg) {
            .footer-banner {
                height:300px;
            }
        }
        &:before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 13rem;
            display: block;
            background: transparent url(../img/wav3.png) no-repeat 0 0/100% 100%;
         }
    }
    .fixed-bottom.right-unset {
        right:unset;
    }
    @include media-breakpoint-down(md) { 
        body {
            overflow-x:hidden;
        }
        .display-3 {
            font-size:2em;
        }
        .lead {
            font-size:1.3em;
        }
        ul#countdown li span {
            font-size:1em;
        }
        ul#countdown li {
            width:50px;
        }
        footer:before {
            background:none;
        }
        .actionbtn {
            display:block;
            margin-bottom:1rem;
        }
    }
}